---
import { getCollection } from 'astro:content';
import BunzoLayout from '../../layouts/BunzoLayout.astro';
import PostStyleTwo from '../../components/bunzo/PostStyleTwo.astro';
import Breadcrumb from '../../components/bunzo/Breadcrumb.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const uniqueCategories = [...new Set(allPosts.map((post) => post.data.category))];

  return uniqueCategories.map((category) => {
    const categorySlug = category.toLowerCase().replace(/ /g, '-');
    const filteredPosts = allPosts.filter((post) => post.data.category === category);
    return {
      params: { slug: categorySlug },
      props: { category, posts: filteredPosts },
    };
  });
}

const { category, posts } = Astro.props;
---

<BunzoLayout title={`Categoria: ${category} - Bunzo`}>
    <div class="category-page">
        <Breadcrumb slug={category} link="Categorias" url="/blog" />

        <div class="py-section">
            <div class="container mx-auto px-4">
                <div class="section-title mb-15">
                    <h2 class="text-3xl md:text-5xl font-bold font-heading text-primary">Artigos em <span class="text-[#ffb16e] italic">{category}</span></h2>
                </div>
                <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-[30px] gap-y-[50px] mt-12">
                    {posts.map((post) => (
                        <PostStyleTwo post={post} excerpt={true} textVariant="lg:text-2xl" />
                    ))}
                </div>
            </div>
        </div>
    </div>
</BunzoLayout>
