---
import type { CollectionEntry } from 'astro:content';
import WidgetTitle from './WidgetTitle.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;

function formatDate(date: Date) {
  return date.toLocaleDateString('pt-BR', { day: '2-digit', month: 'short', year: 'numeric' });
}
---

<div class="sidebar-widget mb-10">
  <WidgetTitle title="Posts Populares" />
  
  <div class="popular-posts-list space-y-6">
    {posts.map(post => (
      <article class="flex items-center group">
        <div class="w-20 h-20 flex-shrink-0 rounded-[10px] overflow-hidden mr-4">
          <a href={`/blog/${post.slug}`}>
            <img 
              src={post.data.heroImage || "/assets/bunzo/images/posts/1.jpg"} 
              alt={post.data.title} 
              class="w-full h-full object-cover group-hover:scale-110 transition-all duration-500"
            />
          </a>
        </div>
        <div class="flex-1">
          <p class="text-[11px] text-gray-400 uppercase font-bold mb-1">{formatDate(post.data.pubDate)}</p>
          <h4 class="text-sm font-bold leading-snug hover:text-primary transition-colors line-clamp-2">
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </h4>
        </div>
      </article>
    ))}
  </div>
</div>
