---
import { readData } from '../../lib/readData';

export interface Props {
    colorVariant?: string;
}

const { colorVariant = "text-primary" } = Astro.props;
const menuData = readData('menu.json');
const menuItems = menuData.items || [];
---
<nav class="navigation-menu">
    <ul class="flex">
        {menuItems.map((nav: any) => (
            <li class="relative mr-12 group last:mr-0">
                <a href={nav.href} class={`block font-semibold group-hover:text-primary py-7 transition-colors ${colorVariant}`}>
                    {nav.label}
                    {nav.categories?.length > 0 && <i class="icofont-simple-down ml-1"></i>}
                </a>

                {nav.categories?.length > 0 && (
                    <ul class="top-full left-0 absolute w-[220px] bg-white border-b-[3px] border-primary py-4 shadow-xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 translate-y-[20px] group-hover:translate-y-0 z-30">
                        {nav.categories.map((item: any) => (
                            <li>
                                <a href={item.href} class="block text-heading-light font-semibold py-2 px-6 hover:text-primary hover:bg-gray-50 transition-all">
                                    {item.label}
                                </a>
                            </li>
                        ))}
                    </ul>
                )}
            </li>
        ))}
    </ul>
</nav>
